<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Morning, <%= @user.name %></h1>
    <p>
      To sign up to AFA today, click link: <%= @url %>.
    </p>
  </body>
</html>
