<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Morning, <%= @user.name %></h1>
    <h2>
      To sign up for AFA today, click this link: http://172.16.50.32:3000/restaurant/pick?token=<%= @user.token %>
    </h2>
  </body>
</html>
