// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pick-list img {
  width: 50%;
}

.restaurant-thumb {
  padding: 10px;
  border-radius: 6px;

  &.picked-restaurant {
    background-color: lightblue;
  }

  margin-bottom: 60px;
  form {
    display: inline;
  }

  a, input {
    margin-left: 30px;
  }
}

// Boostrap overrides
.container {
  max-width: 86rem !important;
}